# Ignore the DV_venv folder
DV_venv/
PW2/Ressources/
PW4/RessourcesPW4/
# Ignore specific files in the PW1 directory
PW1/exercise1.png
PW1/exercise2.png
PW1/exercise3.png
PW1/exercise4.png
PW1/exercise5.png
PW1/exercise6.png
PW1/exercise7.png
PW1/exercise8.png
